<!DOCTYPE html>
<html>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>

<div ng-app="myApp" ng-controller="myCtrl">
<h1>{{urls}}</h1>
Name: <input ng-model="urls">
First: <input ng-model="urls[1]">
<ul class="catalog" >
    <li ng-repeat="url in urls">
      <img ng-src="url"/>
    </li>
</ul>
</div>

<script>
var app = angular.module('myApp', []);
app.controller('myCtrl', function($scope, $http) {
$scope.urls="test";
$http.get('/api/products').then(function(response){
         $scope.urls="response[0]";
    });

    
});
</script>

<p>Use the ng-model directive to bind the value of the input field to a property made in the controller.</p>

</body>
</html>
