*,
*:before,
*:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #ecf0f1;
  font-family: sans-serif;
}
h1 {
  color: rgba(255,255,255,0.8);
  font-size: 3em;
  text-align: center;
  margin: 1em;
}
#gallery {
  max-width: 50em;
  margin: 1em auto;
  background: #950000;
  padding: 1em;
}
.image-list {
  display: flex;
  margin-bottom: 1em;
}
.image-list > img {
  cursor: pointer;
  display: block;
  flex-direction: row;
  flex-shrink: 0;
  flex-wrap: wrap;
  max-height: 7em;
  justify-content: center;
  max-width: 33%;
  width: 100%;
}
.image-list > img:hover {
  opacity: 0.8;
}
.hero-image > img {
  height: auto;
  width: 100%;
}
.hero-image > img.ng-enter {
  -webkit-transform: translateY(-100px);
          transform: translateY(-100px);
  transition: all 0.3s;
  opacity: 0;
}
.hero-image > img.ng-enter.ng-active {
  opacity: 1;
  -webkit-transform: translateY(0);
          transform: translateY(0);
}
