<head>
  <script src="gallery.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<body>
  <link rel="stylesheet" href="gallery.css">
</head>
<div class="container" ng-app="myApp" ng-controller ="myController as ctrl">

<!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">My Album</h4>
        </div>
        <div class="modal-body">
          <div>
            <p>{{ctrl.images[ctrl.current].caption}}</p>
          </div>
          <div class="img-modal" ng-click="ctrl.nextImage()">
            <img class="img-responsive" ng-src="{{ctrl.images[ctrl.current].src}}">
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>

  <div class="col-lg-12">
    <h1 class="page-header">{{ctrl.header}}</h1>
  </div>

  <div class="container" id="add-image">
    <div class="pull-right">
      <input class="" type="text" placeholder="enter image url" ng-model="ctrl.imageSrc" value={{imageSrc}}>
      <button class="btn btn-primary" type="submit" ng-click="ctrl.addImage()">Add Picture</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3 col-xs-6" ng-repeat="image in ctrl.images">
      <h5 class="caption text-center">{{ctrl.caption}}</h5>
      <div class="thumb" data-toggle='modal' data-target="#myModal" ng-click="image.">
        <a class="thumbnail" href="" ng-click="ctrl.getIndex(image)">
          <img class="img-responsive" ng-src="{{image.src}}" alt="invalid image url">
          <span class="text-content"><span>{{image.caption}}</span></span>
        </a>
      </div>
    </div>
  </div>
</div>
